body {
  font-family: "Fira Code", Menlo, Courier;
  min-height: 100vh;
}

:root {
  --secondary-color: #548af6;
  --primary-color: #2568ed;
}

input,
textarea {
  font-family: "Fira Code", Menlo, Courier;
}

.btn {
  border-radius: 3px;
  background-color: var(--secondary-color);
  transition: background-color 0.2s;
  line-height: 1;

  &:hover {
    background-color: var(--primary-color);
  }
}
