html {
  font-size: 17px;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
:root {
  --primary-color: #555;
  --action-secondary-color: #548af6;
  --action-color: #2568ed;
}

body {
  font-family: "Fira Code", Menlo, Courier;
  color: var(--primary-color);
}

input,
textarea {
  font-family: "Fira Code", Menlo, Courier;
}

a {
  color: var(--action-secondary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.field {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
  border: 1px solid transparent;
  border-radius: 3px;

  &.error {
    border-color: red;
  }
}

.btn {
  border-radius: 3px;
  background-color: var(--action-secondary-color);
  transition: background-color 0.2s;
  line-height: 1;

  &:hover {
    background-color: var(--action-color);
  }
}

.divider {
  margin: 1.75rem 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}
